*{
    margin: 0;
    padding: 0;
}

.header{
    background-color: rgb(91, 110, 135);
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px;
}

ul li a{
    color: black;
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

ul li a:hover{
    color: white;
    text-decoration: underline;
}

.menu li{
    float: left;
    padding: 35px;
}

form{
    padding: 35px;
    text-align: right;
}

input[type="search"]{
    font-size: 20px;
    border-radius: 15px;
    border: none;
    background-color: rgb(159, 159, 159);
}

h1{
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: Dancing Script, sans-serif;
    font-size: 40px;
}

.nos-realisation{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 30px;
}

.mosaique{
    margin-left: 200px;
    margin-right: 200px;
    text-align: center;
    padding-bottom: 20px;
}

.mosaique-bouquet{
    padding: 15px;
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

footer{
    background-color: grey;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}